main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main p {
    margin-top: 25px;
    font-size: 14px;
}

main a {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    margin-bottom: 15px;
    border-top: 2px #373867 solid;
}

.content {
    padding: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container  {
    border: 2px #373867 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px;
    padding: 50px;
    box-shadow: 0px 0px 13px 7px rgba(170,206,155,0.75);
}

.form-container h2 {
    padding-top: 0;
    margin-top: 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.form-input label {
    margin-bottom: 5px;
    font-size: 14px;
}

.form-input input {
    height: 30px;
    border: 1px solid #373867;
    border-radius: 4px;
    width: 100%;
}

#btn-login {
    color: #F13312;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #F13312;
    border-radius: 5px;
    padding: 10px 50px;
    align-self: center;
    margin-top: 10px 0;
}

#btn-login:hover {
    background-color: #F13312;
    color: #373867;
}


@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }

    .wrapper {
        display: flex;
    }

    .content {
        width: 80%;
        padding-left: 1.5em;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        max-width: 185px;
    }
}