@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #F7DF1E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

h1 {
    font-family: 'Inter', sans-serif;
    border: 12px solid #000000;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 70%;
    height: auto;
    padding: 30px 10px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #000000;
}

@media (max-width: 480px){
    h1 {
        font-size: 24px;
    }
}