<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix: website to register working hours">
        <script src="https://use.fontawesome.com/2a61a86e3b.js"></script>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <div class="wrapper">
            <section class="sidebar">
                <nav>
                    <h2 id="menu">Menu</h2>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./sign-up.html">SignUp</a></li>
                        <li><a href="./login.html">LogIn</a></li>
                    </ul>
                </nav>
                <div class="info">
                    <h2 id="contact">Get in touch</h2>
                    <p>
                        Explanation here of the correspondent component. We left this with a random text for the moment. 
                        This is just an example. Don't take this text seriously. Explanation here of the correspondent 
                        component. We left this with a random text for the moment. This is just an example. Don't take 
                        this text seriously.
                    </p>
                    <ul>
                        <li>&#9993; info@trackgenix.com</li>
                        <li>&#127968; 1234, Somewhere Road 8254. Nashville, TN</li>
                        <li>&#128222; (000)-000-0000</li>
                    </ul>
                </div>
            </section>
            <div class="content">
                <header>
                    <section class="top-header">
                        <div>
                            <i class="fa fa-solid fa-bars" id="burguer-menu"></i>
                            <p>Trackgenix by GigaTech Software Solutions SA</p>
                        </div>
                        <ul>
                            <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://github.com" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </section>
                </header>
                <main>
                    <div class="form-container">
                        <h2>LogIn</h2>
                        <form>
                            <div class="form-input">
                                <label for="email">Email:</label>
                                <input type="email" name="email" placeholder="Enter your email">
                            </div>
                            <div class="form-input">
                                <label for="password">Password:</label>
                                <input type="password" name="password" placeholder="Enter your password">
                            </div>
                            <button id="btn-login">Continue</button>
                        </form>
                        <p>If you don't have an account <a href="./sign-up.html">click here</a></p>
                    </div>
                </main>
                <footer>
                    <ul>
                        <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://github.com" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                    <p>Copyright © 2022 GigaTech Software Solutions SA. All rights reserved.</p>
                </footer>
            </div>
        </div>
    </body>
</html>