<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix: website to register working hours">
        <script src="https://use.fontawesome.com/2a61a86e3b.js"></script>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <div class="wrapper">
            <section class="sidebar">
                <nav>
                    <h2 id="menu">Menu</h2>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./sign-up.html">SignUp</a></li>
                        <li><a href="./login.html">LogIn</a></li>
                    </ul>
                </nav>
                <div class="info">
                    <h2 id="contact">Get in touch</h2>
                    <p>
                        Explanation here of the correspondent component. We left this with a random text for the moment. 
                        This is just an example. Don't take this text seriously. Explanation here of the correspondent 
                        component. We left this with a random text for the moment. This is just an example. Don't take 
                        this text seriously.
                    </p>
                    <ul>
                        <li>&#9993; info@trackgenix.com</li>
                        <li>&#127968; 1234, Somewhere Road 8254. Nashville, TN</li>
                        <li>&#128222; (000)-000-0000</li>
                    </ul>
                </div>
            </section>
            <div class="content">
                <header>
                    <section class="top-header">
                        <div>
                            <i class="fa fa-solid fa-bars" id="burguer-menu"></i>
                            <p>Trackgenix by GigaTech Software Solutions SA</p>
                        </div>
                        <ul>
                            <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://github.com" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </section>
                </header>
                <main>
                    <div class="form-container">
                        <h2>SignUp</h2>
                        <form>
                            <div class="form-inputs">
                                <div class="form-input">
                                    <label for="name">Name:</label>
                                    <input type="text" name="name" id="formName" placeholder="Enter your name">
                                </div>
                                <div class="form-input">
                                    <label for="last-name">Last name:</label>
                                    <input type="text" name="last-name" id="formLastName" placeholder="Enter your last name">
                                </div>
                                <div class="form-input">
                                    <label for="id">Id:</label>
                                    <input type="text" name="id" id="formId" placeholder="Enter your id number">
                                </div>
                                <div class="form-input">
                                    <label for="birthday">Birthday:</label>
                                    <input type="date" name="birthday" id="formBirthday" placeholder="Enter your birth date">
                                </div>
                                <div class="form-input">
                                    <label for="phone-number">Phone number:</label>
                                    <input type="text" name="phone-number" id="formNumber" placeholder="Enter your phone number">
                                </div>
                                <div class="form-input">
                                    <label for="adress">Adress:</label>
                                    <input type="text" name="adress" id="formAdress" placeholder="Enter your adress">
                                </div>
                                <div class="form-input">
                                    <label for="city">City:</label>
                                    <input type="text" name="city" id="formCity" placeholder="Enter your city">
                                </div>
                                <div class="form-input">
                                    <label for="zip-code">Zip code:</label>
                                    <input type="text" name="zip-code" id="formZipCode" placeholder="Enter your zip code">
                                </div>
                                <div class="form-input email">
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email" placeholder="Enter your email">
                                </div>
                                <div class="form-input">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="formPassword" placeholder="Enter your password">
                                </div>
                                <div class="form-input">
                                    <label for="password-repeat">Repeat password:</label>
                                    <input type="password" name="password-repeat" id="formPassword2" placeholder="Repeat your password">
                                </div>
                            </div>
                            <button id="btn-signup">Create</button>
                        </form>
                    </div>
                </main>
                <footer>
                    <ul>
                        <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://github.com" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                    <p>Copyright © 2022 GigaTech Software Solutions SA. All rights reserved.</p>
                </footer>
            </div>
        </div>
    </body>
</html>