header {
    display: flex;
    flex-direction: column;
}

#burguer-menu {
    color: #F33413;
    margin-right: 10px;
}

.top-header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #F33413 solid;
    padding-bottom: 10px;
}

.top-header div {
    display: flex;
    align-items: center;
}


.top-header p {
    font-size: 14px;
    font-weight: bold;
}

.top-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.top-header li {
    padding: 0 2px;
}

.top-header i, .top-header a {
    color: #5D5D5D;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin: 20px 0; 
    align-items: center;
}

.main-header div {
    align-items: center;
    margin-bottom: 20px;

}

.main-header h1 {
    font-size: 35px;
    font-weight: 700;
}

.main-header span {
    display: block;
}

.main-header h3 {
    font-size: 20px;
    margin-top: 30px;
}

.main-header p {
    font-size: 14px;
    margin-top: 30px;
    align-self: center;
}

.main-header img {
    max-width: 80%;
}

.main-header button {
    padding: 10px 35px;
    color: #F13312;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #F13312;
    border-radius: 5px;
    margin-top: 30px;
}

.main-header button:hover {
    background-color: #F13312;
    color: #373867;
}

@media (min-width: 1024px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-header div {
        width: 75%;
    }

    .main-header img {
        width: 25%;
    }
}
