.reasons { 
    border-top: 2px #373867 solid;
    border-bottom: 2px #373867 solid;
    padding-bottom: 15px;
}

.uses {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.uses article {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.uses img {
    width: 20%;
    height: 80%;
    margin: 20px 15px 0 0;
}

.uses div {
    width: 75%;
    font-size: 14px;
    margin-top: 15px;
}

.uses h3 {
    font-weight: bold;
    margin-bottom: 7px;
}

.uses p {
    text-align: justify;
    /* padding-right: 5px; */
}

.features {
    padding-bottom: 30px;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}

.articles::-webkit-scrollbar {
    width: 0;
}

.features article {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 20px;
}

.features article:first-child {
    margin-left: 5px;
}

.features h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.features p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: justify;
}

.features button {
    padding: 10px 25px;
    color: #F13312;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #F13312;
    border-radius: 5px;
    width: 35%;
}

.features button:hover {
    background-color: #F13312;
    color: #373867;
}

.form-info {
    border-bottom: 2px #373867 solid;
    border-top: 2px #373867 solid;
    padding-bottom: 30px;
}

form {
    font-size: 14px;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.form-input label {
    margin: 10px 0;
    font-weight: bold;
}

.form-input input {
    height: 30px;
    border: 1px solid #373867;
    border-radius: 4px;
    margin-bottom: 20px;
}

.radio-buttons {
    margin: 20px 0;
    
}

.radio-buttons p {
    margin-bottom: 10px;
    font-weight: bold;
}

.message {
    display: flex;
    flex-direction: column;
}

.message p {
    font-weight: bold;
    margin-bottom: 10px;
}

.message textarea {
    resize: none;
    width: 85%;
    height: 90% ;
    border: 1px solid #373867;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button {
    border: 1px solid #373867;
    border-radius: 5px;
    color:#373867;
    padding: 7px 25px;
    font-weight: bold;
    margin-right: 15px;
}

#reset {
    background-color: #F13312;
}

#send {
    background-color: #AACE9B;
    width: 110px;
}

#send:hover {
    background-color: #4EB125;
}

.lists {
    display: flex;
    flex-direction: column;
    border-top: 2px #373867 solid;
    border-bottom: 2px #373867 solid;
}

.list {
    padding: 35px 90px;
    
    font-size: 14px;
}

.list h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}