.sidebar { 
    display: none;
}

@media (min-width: 1024px) {
    .sidebar {
        display: revert;
        flex: 1;
        /* max-width: 15%; */
        height: 100%;
        background-color: #AACE9B;
        padding: 1em;
        /* position: fixed; */
    }
    
    .sidebar h1, .sidebar h2  {
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #F33413;
        margin-bottom: 55px;
    }
    
    .sidebar nav li {
        font-size: 15px;
        margin: 20px;
        margin-left: 0px;
        padding-bottom: 7px;
        border-bottom: 1px solid #373867;
    }
    
    .sidebar nav a:hover{
        color: #FF3E1D;
    }
    
    .sidebar h2 {
        margin-top: 40px;
        margin-bottom: 10px;
        padding-top: 40px;
        border-top: 1px solid #373867;
    }
    
    .sidebar .info {
        margin-right: 20px;
    }
    
    .sidebar .info p {
        font-size: 13px;
        text-align: justify;
    }
    
    .sidebar .info li {
        font-size: 13px;
        margin: 20px 0;
        padding-bottom: 7px;
        border-bottom: 1px solid #373867;
    }
    
    .sidebar li:last-child {
        border-bottom: none;
    }
}