*, header, .sidebar, footer {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #373867;
}

a {
    text-decoration: none;
    color: #373867;
}

.sidebar {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #AACE9B;
    position: fixed;
    padding: 1em;
}

.sidebar h1, .sidebar h2  {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #F33413;
    margin-bottom: 55px;
}

.sidebar nav li {
    font-size: 15px;
    margin: 20px;
    margin-left: 0px;
    padding-bottom: 7px;
    border-bottom: 1px solid #373867;
}

.sidebar nav a:hover{
    color: #FF3E1D;
}

.sidebar h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 40px;
    border-top: 1px solid #373867;
}

.sidebar .info {
    margin-right: 20px;
}

.sidebar .info p {
    font-size: 13px;
    text-align: justify;
}

.sidebar .info li {
    font-size: 13px;
    margin: 20px 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #373867;
}

.sidebar li:last-child {
    border-bottom: none;
}

.content {
    width: 80%;
    float: right;
    padding: 1em;
}

.content h2 {
    font-weight: 700;
    font-size: 25px;
    padding: 30px 0;
    text-decoration: underline;
    text-decoration-color: #F33413;
}

.top-header {
    border-bottom: 2px #F33413 solid;
    padding-bottom: 15px;
}

.top-header p {
    display: inline-block;
    font-size: 14px;
}

.top-header ul {
    position: relative;
    float: right;
    font-size: 25px;
}

.top-header li {
    display: inline-block;

}

.top-header i, .top-header a {
    color: #5D5D5D;
}

.main-header {
    display: inline-block; 
    margin: 20px 0;
}

.main-header h1 {
    font-size: 35px;
    font-weight: 700
}

.main-header h3 {
    font-size: 20px;
    margin-top: 20px;
}

.main-header p {
    font-size: 14px;
    margin: 20px 170px 0 0;
    
}

.main-header div {
    float: left;
    width: 75%;
}
.main-header img {
    float: right;
    width: 25%;
    left: 749px;
}

.main-header button {
    padding: 10px 35px;
    color: #F13312;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #F13312;
    border-radius: 5px;
    margin-top: 20px;
}

.main-header button:hover {
    background-color: #F13312;
    color: #373867;
}

.reasons { 
    display: inline-block;
    border-top: 2px #373867 solid;
    border-bottom: 2px #373867 solid;
    padding-bottom: 15px;
}

.uses {
    display: inline-block;
    margin-bottom: 20px;
}

.uses article {
    float: left;
    width: 487px;
    height: 107px;
    margin: 15px;
}
.uses img {
    width: 20%;
    float: left;
    margin-right: 10px;
}

.uses div {
    width: 75%;
    float: right;
    font-size: 14px;
    margin-top: 15px;
}

.uses h3 {
    font-weight: bold;
    margin-bottom: 7px;
}

.uses p {
    text-align: justify;
    padding-right: 15px;
}

.features {
    display: inline-block;
    padding-bottom: 30px;
}

.features article {
    width: 23%;
    float: left;
    margin: 0 10px;
}

.features img {
    width: 100%;
}

.features h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.features p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: justify;
}

.features button {
    padding: 10px 25px;
    color: #F13312;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #F13312;
    border-radius: 5px;
}

.features button:hover {
    background-color: #F13312;
    color: #373867;
}

.form-info {
    border-bottom: 2px #373867 solid;
    border-top: 2px #373867 solid;
    padding-bottom: 30px;
}

form {
    /* position: relative; */
    font-size: 14px;
}

.form-inputs {
    display: inline-block;
}

.form-input label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.form-input input {
    width: 535px;
    height: 30px;
    border: 1px solid #373867;
    border-radius: 4px;
    margin-bottom: 20px;
}

.radio-buttons {
    float: right;
    width: 40%;
    display: block;
    margin-top: 30px;
}

.radio-buttons p {
    margin-bottom: 10px;
    font-weight: bold;
}

.message p {
    font-weight: bold;
    margin-bottom: 10px;
}

.message textarea {
    resize: none;
    width: 947px;
    height: 100px;
    border: 1px solid #373867;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button {
    border: 1px solid #373867;
    border-radius: 5px;
    color:#373867;
    padding: 7px 25px;
    font-weight: bold;
    margin-right: 15px;
}

#reset {
    background-color: #F13312;
}

#send {
    background-color: #AACE9B;
    width: 110px;
}

#send:hover {
    background-color: #4EB125;
}

.history {
    font-size: 14px;
    padding-bottom: 20px;
    display: inline-block;
}

.history h3 {
    font-weight: bold;
    margin: 15px 0;
}

.history img {
    width: 384px;
    height: 239px;
}

.history p {
    text-align: justify;
    line-height: 16px;
}

.image-left {
    position: relative;
    float: left;
    padding: 0 20px 10px 0;
}

.image-right {
    position: relative;
    float: right;
    padding: 20px 0 0 20px;
}

.list {
    width: 16.5%;
    float: left;
    padding: 35px 90px;
    border-top: 2px #373867 solid;
    border-bottom: 2px #373867 solid;
    font-size: 14px;
}

.list h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

footer {
    width: 80%;
    float: right;
    text-align: center;
}

footer li {
    display: inline;
}

footer p {
    margin: 15px;
    font-size: 14px;
}